/* src/component/Competences.css */

.competences-container {
    padding: 20px;
}

.competences-container h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #ff4655;
}

.skills-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    flex: 1 1 calc(50% - 20px); /* Adjust to fit two columns with gap */
    margin-bottom: 20px;
}

.skill-name {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
}

.progress-bar {
    width: 100%;
    background-color: white; /* Gray background for the whole bar */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 20px;
}

.progress {
    height: 100%; /* Utiliser 100% pour correspondre à la hauteur de la barre de progression */
    background-color: #ff4655; /* Highlight color */
    border-radius: 10px 0 0 10px; /* Round corners on the left */
    position: absolute;
    top: 0;
    left: 0;
}

.progress-percentage {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: bold;
}

.skill-description {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-size: 14px;
    color: #9a9cb2;
    background-color: #1e2036;
    padding: 10px;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .skill {
        flex: 1 1 100%;
    }
}